.project_boxes {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  min-width: 300px;

  .project_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;

    .project_name {
      color: #0d6efd;
      text-decoration: underline;
      cursor: pointer;
      width: 120px;
    }

    &:last-child {
      border-bottom: 2px black solid;
    }

    .project_task_box {
      border: 2px black solid;
      padding: 5px;
    }
  }
}

.button_box {
  padding: 20px 30px;
  display: flex;

  .project_add {
    background-color: lightgrey;
    padding: 10px 25px 10px 25px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
  }
}

.form__container {

  padding: 30px;

  > form {
    display: flex;
    flex-direction: column;

    > input {
      margin: 10px 0;
    }

    > button {
      margin-top: 10px;
    }
  }
}

.highlight {
  background-color: orange;
  padding: 3px 10px;
  border-radius: 5px;
}

.options-box {
  margin-bottom: 12px;
}

.label-box {
  margin: 7px 0;
  font-size: 1em;
}